@page
@using Humanizer
@model IndexModel

@if (string.IsNullOrEmpty(Model.SearchTerm))
{
    <div style="height: 200px"></div>
}

<div class="text-center my-5">
    <form method="post">
        <div class="search mx-auto mb-2">
            <svg class="search__icon" viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><g><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path></g></svg>      
            <input type="search" asp-for="SearchTerm" class="search__text form-control" aria-label="Search">
        </div>
    </form>
    @await Component.InvokeAsync("LastPublications")
</div>

<div>
    @if (!string.IsNullOrEmpty(Model.SearchTerm))
    {
        <ol class="list-group list-group-flush">
            @foreach (var publication in Model.SearchResults)
            {
                <li class="list-group-item">
                    <div class="media">
                        <a href="@publication.Url" target="_blank" class="mr-3 align-self-center">
                            <img src="https://img.icons8.com/metro/344/pdf-2.png" width="28" height="28" alt="pdf">
                        </a>
                        <div>
                            <span class="d-block text-muted small">@publication.Date.ToLongDateString() - @publication.Date.Humanize()</span>
                            <a href="@publication.Url" target="_blank">@publication.Url</a>
                        </div>
                        <div class="ml-auto">
                            <span class="d-block small text-muted text-right">@publication.Source</span>
                        </div>
                    </div>
                </li>
            }
        </ol>
        @if (!Model.SearchResults.Any())
        {
            <p>Sua pesquisa não encontrou nenhum documento correspondente.</p>
        }
    }
</div>